# Compiled
*.elc
.agent-shell
.claude

# Packaging
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
wondershaper
libboundscheck
emacs
ctags
dotfiles
emacs.d
org-root
